@page "/deck"
@page "/deck/{pagenumber?}"

<h1>@title</h1>

@if (message.Length > 0)
{
    <p>@message</p>
}

<div class="filters">
    <label for="sort">Sort by name:</label>
    <select id="sort" @onchange="SortCards">
        <option value="asc" selected="@(SelectedSorting == "asc" ? true : false)">Ascending</option>
        <option value="desc" selected="@(SelectedSorting == "desc" ? true : false)">Descending</option>
    </select>

    <label for="name">Search by name:</label>
    <input id="name" type="text" @onchange="FindCardByName" placeholder="Ancestor's Chosen" />

    <label for="artist">Search by artist @ArtistFilter:</label>
    <select id="artist" @onchange="FindCardByArtist">
        <option value="">All</option>
        @if (_artists != null)
        {
            @foreach (ArtistReadDTO artist in _artists)
            {
                <option value="@artist.Id">@artist.FullName</option>
            }
        }
    </select>
</div>

@if (_cards == null)
{
    <p>Loading ...</p>
} else
{
    <a href="#" @onclick="NextPage" @onclick:preventDefault="true">Next Page @pageNumber</a>
    
    @if (pageNumber != null)
    {
        <a href="#" @onclick="PreviousPage" @onclick:preventDefault="true">Previous Page @((Convert.ToInt16(pageNumber) - 1).ToString())</a>
    }
    
    
    
    <div class="card-selection">
        <div class="cards">
            @foreach(CardReadDTO card in _cards)
            {
                <a href="#" @onclick="@(() => SelectCard(card))" @onclick:preventDefault="true">
                    <img class="card-img" src="@card.OriginalImageUrl" alt="@card.Name" />
                </a>
            }
        </div>
        <div class="selected-cards">
            <h2>Selected cards (@(_selectedCards.Count)/@MaxSelectedCards)</h2>
            <ul>
                    @foreach (CardReadDTO card in _selectedCards)
                    {
                        <li><a href="#" @onclick="@(() => SelectCard(card))" @onclick:preventDefault="true">@card.Name</a></li>
                    }
            </ul>
        </div>
    </div>
}
